body {
    margin: 0;
    height: 100%;
}

.header {
    padding: 15px 0;
    background-color:rgb(107, 111, 114);
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid rgb(189, 231, 189);
}

.logo-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid rgb(109, 157, 219);
    width: 80%;
}

.logo-content-img {
    border: solid 0px #aac1d6;
}

.emp-text {
    font: normal normal bold 20px/25px Montserrat;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0px;
    color: #f0e222c2;
    text-transform: capitalize;
}

.emp-payroll {
    color:  #115029c2;
}

* {
    box-sizing: border-box;
}